:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #ffffff;
  --main-color: #e5e5e5;
  --footer-color: #2f303a;
  --back-human-color: #f5f4fa;
  --color-black: #000000;
  --bgc-buttom: #188ce8;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
}
ul {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
h2,
h3 {
  color: var(--title-text-color);
}

body a {
  text-decoration: none;
  color: var(--primary-text-color);
}
body {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  line-height: 1.71;
  font-size: 14px;
  color: var(--primary-text-color);
}
/* logo */

.logo-top {
  cursor: default;
  font-family: "Raleway", normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-black);
}
.logo-mid {
  cursor: default;
  font-family: "Raleway", normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
}
.accent {
  font-family: "Oleo Script" normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.38;
  color: var(--accent-color);
}
/* Site nav */

.nav {
  align-items: center;
  justify-content: space-around;
  display: flex;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}
.mail-nav :focus {
  color: var(--accent-color);
}
.mail-nav :hover {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
}
.mail-nav {
  display: flex;
}
.mail-nav .item + .item {
  margin-left: 50px;
}
.site-nav :hover {
  color: var(--accent-color);
}
.site-nav :focus {
  color: var(--accent-color);
}

.site-nav a {
  margin-left: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  width: 68px;
  height: 16px;
  color: var(--title-text-color);
}

/* Кнопки */

.buttom-secondary {
  font-family: inherit;
  border: none;
  cursor: pointer;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: var(--back-human-color);
}
.buttom-secondary:hover {
  background-color: var(--accent-color);
  color: var(--logo-color);
}
.buttom-secondary:focus {
  color: var(--accent-color);
}

/*Мейн*/

.shadow {
  display: flex;
}
.feature-list .title {
  color: var(--title-text-color);
}
/* hero */

.section-banner {
  width: 1600 px;
  height: 600px;
  top: 80px;
  background-color: var(--footer-color);
}
.banner {
  text-align: center;

  padding: 200px 452px 30px 452px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--logo-color);
}

.buttom-primary {
  border: none;
  cursor: pointer;
  margin: 35px 700px 200px 700px;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  font-family: "Roboto";
  letter-spacing: 0.06em;
  color: var(--logo-color);
  background-color: var(--accent-color);
}
.buttom-primary:hover {
  background-color: var(--bgc-buttom);
}
/* Секция карты */
.section-cards {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* тут убрать точку перед итем */
.flex-container > item {
  margin: 15px;
  width: 370px;
  height: 404px;
}
/* Наши навыки */

.skils .item {
  display: flex;
  flex-wrap: wrap;
}
.skils h2 {
  width: 376px;
  height: 42px;
}
.skils h3 {
  width: 270px;
  height: 16px;
}

/* Наша команда */

.section-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.section-team h2 {
  width: 264px;
  height: 42px;
  text-align: center;
}
.section-team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}
.section-team {
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--back-human-color);
}
/* Подвал */
.section-footer {
  width: 1600px;
  height: 252px;
  background-color: var(--footer-color);
}
.section-footer :focus {
  color: var(--accent-color);
}
.adress {
  color: var(--logo-color);
}
.adress:focus {
  color: var(--accent-color);
}
.dawn:hover {
  color: var(--accent-color);
}
