:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #ffffff;
  --main-color: #e5e5e5;
  --footer-color: #2f303a;
  --back-human-color: #f5f4fa;
  --color-black: #000000;
  --bgc-buttom: #188ce8;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
}
ul {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
h2,
h3 {
  color: var(--title-text-color);
}

body a {
  text-decoration: none;
  color: var(--primary-text-color);
}
body {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  line-height: 1.71;
  font-size: 14px;
  color: var(--primary-text-color);
}
/* logo */

.logo-top {
  cursor: default;
  font-family: "Raleway", normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-black);
}
.logo-mid {
  cursor: default;
  font-family: "Raleway", normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
}
.accent {
  font-family: "Oleo Script" normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.38;
  color: var(--accent-color);
}
/* Site nav */

.nav {
  border: 1px solid #ececec;
  align-items: center;
  justify-content: space-around;
  display: flex;
  height: 80px;
  left: 0px;
  top: 0px;
}
.mail-nav :focus {
  color: var(--accent-color);
}
.mail-nav :hover {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
}
.mail-nav {
  display: flex;
}
.mail-nav .item + .item {
  margin-left: 50px;
}
.site-nav :hover {
  color: var(--accent-color);
}
.site-nav :focus {
  color: var(--accent-color);
}

.site-nav a {
  margin-left: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  width: 68px;
  height: 16px;
  color: var(--title-text-color);
}

/* Кнопки */

.bs {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}
.bs li {
  margin: 4px;
}
.buttom-secondary {
  border-radius: 4px;
  padding: 6px 20px;
  margin-bottom: 50px;
  margin-top: 94px;
  font-family: inherit;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: var(--back-human-color);
}
.buttom-secondary:hover {
  background-color: var(--accent-color);
  color: var(--logo-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.buttom-secondary:focus {
  color: var(--accent-color);
}

/*Мейн*/

.shadow {
  display: none;
}
.feature-list .title {
  color: var(--title-text-color);
}
/* hero */

.section-banner {
  width: 1600 px;
  height: 600px;
  top: 80px;
  background-color: var(--footer-color);
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.1)
    ),
    url(/images/background-Img.jpg);
  background-position: center;
  background-size: cover;
}
.banner {
  text-align: center;
  padding: 200px 452px 30px 452px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--logo-color);
}

.buttom-primary {
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 35px 700px 200px 700px;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  font-family: "Roboto";
  letter-spacing: 0.06em;
  color: var(--logo-color);
  background-color: var(--accent-color);
}
.buttom-primary:hover {
  background-color: var(--bgc-buttom);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* Секция карты */

.section-cards {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-item {
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  width: 370px;
  height: 404px;
}
.card-item .title {
  margin-left: 24px;
  margin-top: 20px;
}
.card-item p {
  margin-left: 24px;
  margin-bottom: 4px;
}
.wrapper {
  width: 1170px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: auto;
}

/* Наши навыки */

.images-logo {
  margin-top: 94px;
  justify-content: space-around;
  display: flex;
}
.images-logo :hover {
  background-color: var(--accent-color);
}
.images-logo li {
  align-items: center;
  justify-content: space-around;
  display: flex;
  padding: auto;
  width: 270px;
  height: 120px;
  background-color: var(--back-human-color);
}

.section-title {
  display: none;
}

.section-skils {
  margin-top: 94px;
  margin-bottom: 94px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.section-skils > .item {
  display: block;
  width: 270px;
}

.work-title {
  margin-bottom: 94px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.work-cards {
  margin-bottom: 94px;
  display: flex;
}
.work-cards li {
  margin-left: 30px;
}
/* Наша команда */
.team {
  background-color: var(--back-human-color);
}
.section-team {
  padding-bottom: 94px;
  margin: auto;
  width: 1170px;
  justify-content: space-around;
}
.section-team h2 {
  padding-top: 94px;
  padding-bottom: 50px;
  width: 264px;
  height: 42px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin: auto;
}
.team-list {
  display: flex;
}
.team-list li {
  height: 428px;
  width: 270px;
  margin: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.section-team h3 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.section-team p {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}
/* сеkция клиенты */

.section-clients {
  margin: auto;
  width: 1170px;
}
/* H2 */

.clients-title {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
  height: 42px;
  font-size: 36px;
  line-height: 42px;
}

.clients-list {
  justify-content: space-around;
  display: flex;
  padding-bottom: 94px;
}

.clients-list li {
  padding-top: 16px;
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

/* Подвал */

.section-footer {
  padding-top: 60px;
  padding-left: 215px;
  width: 1600px;
  height: 252px;
  background-color: var(--footer-color);
}
.section-footer :focus {
  color: var(--accent-color);
}
.adress {
  display: inline-block;
  margin-top: 20px;
}
.adress {
  color: var(--logo-color);
}
.adress:focus {
  color: var(--accent-color);
}
.dawn {
  display: inline-block;
  margin-top: 9px;
}
.dawn:hover {
  color: var(--accent-color);
}

/* test-page */

.section-box {
  width: 1000px;

  color: tomato;
  margin: auto;
}
.box-title {
  flex-wrap: wrap;
  display: flex;
}
.box:nth-child(1) {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to top,
      rgb(0, 0, 0, 0.8),
      rgb(0, 0, 0, 0.3)
    ),
    url(/images/client/antenna\ 1.svg);
}
.box:nth-child(2) {
  background-repeat: no-repeat;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), blue),
    url(/images/client/astronaut\ 1.svg);
}
.box:nth-child(3) {
  background-repeat: repeat;
  background-size: cover;
  background-color: blue;
  background-image: linear-gradient(to right, red, blue);
}
.box:nth-child(4) {
  background-size: 15px;
  background-color: rgb(189, 33, 189);
  background-image: url(/images/client/diagram\ 1.svg);
}
.box:nth-child(5) {
  min-width: 1000px;
  height: 400px;
  background-image: url(/images/client/antenna\ 1.svg),
    url(/images/client/astronaut\ 1.svg), url(/images/client/clock\ 1.svg),
    url(/images/client/diagram\ 1.svg), url(/images/client/1100.svg);
  background-size: 80px, 100px, 150px, 130px, cover;
  background-repeat: no-repeat;
  background-position: top 120px right 130px, top 270px left 230px, center 160px,
    60px, center;
}

.box {
  margin: 10px;
  width: 400px;
  height: 200px;
  outline: 1px solid coral;
}
.box p {
  color: white;
  text-align: center;
  padding: 10%;
}
