:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #ffffff;
  --main-color: #e5e5e5;
  --footer-color: #2f303a;
  --back-human-color: #f5f4fa;
  --color-black: #000000;
  /* основной цвет текста #757575 */
  /* цвет заголовков и абзацев 212121# */
  /* цвет логотипа #2196F3  #FFFFFF */
  /* цвет навигации футера color: rgba(255, 255, 255, 0.6);
 */
  /* цвет фона банера #2F303A; */
  /* цвет мейн #E5E5E5 */
  /* цвет за людьми #F5F4FA*/
}
ul {
  list-style: none;
}
h2,
h3 {
  color: var(--title-text-color);
}
body a {
  text-decoration: none;
  color: var(--primary-text-color);
}
body {
  color: var(--primary-text-color);
  font-style: normal;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  line-height: 1.71;
  font-size: 14px;
}
/* logo */
.logo-top {
  cursor: default;
  color: var(--color-black);
  font-family: "Raleway", cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-mid {
  cursor: default;
  color: var(--logo-color);
  font-family: "Raleway", cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.accent {
  color: var(--accent-color);
  font-family: "Oleo Script" cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.38;
}
/* Site nav */
.site-nav a {
  font-weight: 500;
  line-height: 1.14;
  color: var(--title-text-color);
}
.site-nav:focus {
  background-color: var(--accent-color);
}
.mail-nav {
  font-weight: 500;
  line-height: 1.14;
}
.site-nav :hover :visited {
  color: var(--accent-color);
}
/* Кнопки */
.buttom {
  font-family: inherit;
  color: var(--logo-color);
  background-color: var(--accent-color);
}
.buttom-primary {
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
  color: var(--logo-color);
  background-color: var(--accent-color);
}
.buttom-primary:hover,
:focus {
  background-color: #188ce8;
}
.buttom-secondary {
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.buttom-secondary:hover,
:focus {
  background-color: var(--accent-color);
  color: var(--logo-color);
}

.buttom-secondary {
  color: var(--title-text-color);
  background-color: var(--back-human-color);
}
/*Мейн*/
.mail-nav :hover {
  color: var(--accent-color);
}

.section-banner {
  background-color: var(--footer-color);
}
.feature-list .title {
  color: var(--title-text-color);
}
/* hero */
.banner {
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--logo-color);
}
/* Наши умения */

/* Наша команда */
.section-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.section-team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}
.section-team {
  background-color: var(--back-human-color);
}
/* Подвал */
.section-footer {
  background-color: var(--footer-color);
}
.adress {
  cursor: default;
  color: var(--logo-color);
}
.dawn {
  cursor: default;
}
