.logo-top {
  cursor: default;
  font-family: "Raleway", normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: $black-color;
}
.logo-mid {
  cursor: default;
  font-family: "Raleway", normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: $white-color;
}
.accent {
  font-family: "Oleo Script" normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.38;

  color: $accent-color;
}
